
@import url('https://fonts.googleapis.com/css2?family=Eczar:wght@400;500;600&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Fruktur:ital@0;1&display=swap');


main {
    width: 100%;
    font-family: 'Eczar';
    font-size: 2rem;
    font-weight: 400;
    text-indent: 1.7rem;
    color: #012d44;
}