
/* #day {
    visibility: visible;
}

#night { 
    visibility: hidden;
}

body{
    background-color:#b1ff7d;
    color: #012d44;
}


@media screen and (prefers-color-scheme: dark) {

    body { 
        background-color: #012d44;
        color: #b1ff7d;
    }
    
    #day { 
        visibility: visible;
    }

    #night {
        visibility: visible;
        font-weight: 500;
        color: #b1ff7d;
    }

}
*/

body {
    --text-color: #012d44;
    --bkg-color: #b1ff7d;
  }
  body.dark-theme {
    --text-color: #b1ff7d;
    --bkg-color:  #012d44;
  }
  
  body {
    background: var(--bkg-color);
  }
  
  h1,
  p {
    color: var(--text-color);
  }