
@import url('https://fonts.googleapis.com/css2?family=Eczar:wght@400;500;600&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Fruktur:ital@0;1&display=swap');


h1{
    font-family: 'Fruktur';
    font-style: italic;
    font-size: 10rem;
    color: #012d44;
}

h2{
    font-family: 'Eczar';
    font-weight: 500;
    font-size:4rem;
    color: #012d44;
}

h3{
    font-family: 'Eczar';
    font-weight: 500;
    font-size:4rem;
    color: #012d44;
}